.footer {
  max-width: 1120 / 16 * 1em;
  margin: 0 auto;
  background: #F8F8F8;
  padding: 0 .25em;
  text-align: center;
  font-size: 14 / 16 * 1ren;
  line-height: 16 / 14 * 1em;
  color: #7E7E82;
  opacity: 0.72;

  @include mq-medium {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
  }

  @include mq-large {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
  }

  &__producted {
    margin-bottom: 16 / 14 * 1em;

    @include mq-medium {
      width: 30%;
      text-align: left;
    }

    @include mq-large {
      width: 30%;
      text-align: left;
    }
  }

  &__politica {
    margin-bottom: 16 / 14 * 1em;

    @include mq-medium {
      width: 30%;
    }

    @include mq-large {
      width: 30%;
    }
  }

  &__information {
    margin-bottom: 19 / 14 * 1em;

    @include mq-medium {
      width: 30%;
      text-align: right;
    }

    @include mq-large {
      width: 30%;
      text-align: right;
    }
  }
}
