/* TT Lakes-regular*/
@font-face {
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/TTLakes-Regular.ttf') format('ttf'),
        /*old format*/
        url('../fonts/TTLakes-Regular.eot') format('eot'),
        /* IE */
        url('../fonts/TTLakes-Regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/TTLakes-Medium.ttf') format('ttf'),
        /*old format*/
        url('../fonts/TTLakes-Medium.eot') format('eot'),
        /* IE */
        url('../fonts/TTLakes-Medium.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/TTLakes-Bold.ttf') format('ttf'),
        /*old format*/
        url('../fonts/TTLakes-Bold.eot') format('eot'),
        /* IE */
        url('../fonts/TTLakes-Bold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    font-size: calc(0.5em + lvw);
}

body {
    font-family: 'TT Lakes';
    font-weight: 400;
}

.m-container {
    background: #F8F8F8;
    overflow: hidden;
}

/*m-header styles start*/

.m-header {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: .0125em;
    color: #7E7E82;
    padding: 1em;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

/*m-header styles end*/

/*m-nav styles start*/

.m-nav {
    min-height: 9.625em;
}

.m-nav__container {
    padding-top: 1em;
    padding-left: 1em;
}

.m-card {
    display: flex;
    justify-content: flex-start;
    width: 15em;
    height: 4.5em;
    border-radius: .375em;
    border: 1px solid #EAEAEA;
    background: #fff;
}

.m-card__arrow {
    width: 2.5em;
    height: 2.5em;
    margin: 1em 1em 1em auto;
    border: none;
    border-radius: 50%;
    background: url(../images/nav/go.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.m-card__image-lenovo {
    width: 6.75em;
    height: 2em;
    margin: auto 1em;
}

.m-card__image-samsung {
    width: 7.25em;
    height: 2.4075em;
    margin: auto 1em;
}

.m-card__image-apple {
    width: 2.75em;
    height: 2.75em;
    margin: .75em 0 1em 1em;
}

.m-card__image-viewSonic {
    width: 8em;
    height: 1.3125em;
    margin: auto .875em;
}

.m-card__image-bosch {
    width: 8em;
    height: 1.7875em;
    margin: auto 1em;
}

.m-card__image-hp {
    width: 3.25em;
    height: 3.25em;
    margin: .625em;
}

.m-card__image-acer {
    width: 5.875em;
    height: 1.5em;
    margin: auto 1em;
}

.m-card__image-sony {
    width: 8em;
    height: 1.6em;
    margin: auto .875em;
}

.m-pagginator-position {
    margin-bottom: 1.5em;
}

.swiper-pagination-bullet {
    background: #DDDDDD;
    height: .75em;
    width: .75em;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC;
}

.m-nav__more_hidden {
    display: none;
}

.m-button-show-more {
    border: none;
    padding-left: 1.5em;
    background-image: url(../images/nav/icon.svg);
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 1.5;
    letter-spacing: -0.0125em;
    color: #1B1C21;
    font-weight: 500;
}

.m-button-show-more:active,
.m-button-show-more:hover,
.m-button-show-more:focus {
    opacity: .5;
}

.m-card:nth-child(10),
.m-card:nth-child(11) {
    display: none;
}

.m-card button {
    transition-duration: 2s;
}

.m-card button:hover,
.m-card button:active,
.m-card button:focus {
    transform: rotate(450deg);
    opacity: .5;
}


/*m-nav styles end*/


/*media queries start*/

@media (min-width: 321px) and (max-width: 768px) {

    /* m-header styles start*/

    .m-header {
        padding-left: 1.5em;
    }

    /* m-header styles end*/


    /*m-nav styles start*/
    .m-nav {
        padding-bottom: 2.5em;
    }

    .m-pagginator-position--hidden {
        display: none;
    }

    .m-nav__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 60.5em;
        padding-top: 1.5em;
        padding-left: 0;
        height: 10.5em;
        overflow: hidden;
    }

    .m-nav__container--large {
        height: auto;
    }

    .m-card {
        width: 14em;
        height: 4.5em;
        margin-left: 1.5em;
        margin-bottom: 1em;
    }

    .m-card:last-child,
    .m-card:nth-child(10) {
        display: flex;
    }

    .m-card:nth-child(4),
    .m-card:nth-child(8) {
        display: none;
    }

    .m-nav__more {
        font-size: 1rem;
        padding-left: 2em;
        margin-top: 1em;
    }

    .m-nav__more_hidden {
        display: block;
    }

    /*m-nav styles end*/

}

@media (min-width: 769px) {

    .m-container {
        max-width: 70em;
        margin: 0 auto;
    }

    /* m-header styles start*/

    .m-header {
        padding-left: 2em;
    }

    /* m-header styles end*/


    /*m-nav styles start*/
    .m-nav {
        padding-bottom: 2.5em;
    }

    .m-pagginator-position--hidden {
        display: none;
    }

    .m-nav__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 1.5em;
        padding-left: 0;
        height: 10.5em;
        width: 70em;
        overflow: hidden;
    }

    .m-nav__container--large {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        padding-top: 1.5em;
    }

    .m-card {
        width: 15em;
        height: 4.5em;
        margin-left: 2em;
        margin-bottom: 1em;
    }

    .m-card:last-child,
    .m-card:nth-child(10) {
        display: flex;
    }

    .m-nav__more {
        font-size: 1rem;
        padding-left: 2.5em;
        margin-top: 1em;
    }

    .m-nav__more_hidden {
        display: block;
    }

}