.b-cont {
  height: auto;
  width: 100%;
  background: $bg-white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;

  @include mq-large {
    display: none;
  }
}

.b-container {
  max-width: 360px;
  height: 780px;
  background: $bg-white;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);

  @include mq-medium {
    width: 320px;
    height: 1024px;
  }
}

/*b-header styles start*/
.b-header {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  min-height: 5.375em;
}

.b-header__burger-x-container,
.b-header__group-container,
.b-header__search-container {
  margin: auto 0;
}

.b-header__burger-x-container {
  margin-left: 1em;
}

.b-header__group-container {
  margin-left: 1em;
  margin-right: auto;
}

.b-header__search-container {
  margin-right: 1.5em;
}

.b-button-burger-x {
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  border: none;
  background: url(../img/header/closer.svg);
  background-repeat: no-repeat;
}

.b-link-group {
  display: block;
  width: 6.0625em;
  height: 3.1875em;
  background: url(../img/header/group.svg);
  background-repeat: no-repeat;
}

.b-link-group:hover,
.b-link-group:active,
.b-link-group:focus {
  opacity: .5;
}

.b-button-search {
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  border: none;
  background: url(../img/header/search.svg);
  background-repeat: no-repeat;
}

/*b-header styles end*/


/*b-nav styles start*/
.b-nav {
  padding-top: 2em;
  margin-bottom: 2em;

  @include mq-medium {
    margin-bottom: 268 / 16 * 1em;
  }
}

.b-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26.5em;
}

.b-nav__link {
  display: flex;
  height: 2em;
  padding-left: 1.5em;
}


.b-nav__text {
  margin: auto 0;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.0125px;
  color: #1B1C21;
}

.b-header button:hover,
.b-header button:active,
.b-header button:focus {
  opacity: .5;
}

.b-nav__link:hover,
.b-nav__link:active,
.b-nav__link:focus {
  background: url(../img/header/highlight.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}

.b-nav__text:hover,
.b-nav__text:active,
.b-nav__text:focus {
  color: #7E7E82;
}

/*b-nav styles end*/


/*b-footer styles start*/
.b-footer {}

.b-footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.5em;
  width: 9.5em;
}

.b-button-call {
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 1.25em;
  background: url(../img/header/call.svg);
  background-repeat: no-repeat;
}

.b-button-chat {
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 1.25em;
  background: url(../img/header/chat.svg);
  background-repeat: no-repeat;
}

.b-button-profile {
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 1.25em;
  background: url(../img/header/profile.svg);
  background-repeat: no-repeat;
}

.b-footer__icons button:hover,
.b-footer__icons button:active,
.b-footer__icons button:focus {
  opacity: .5;
}

.b-footer__mail {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.0125em;
  color: inherit;
  padding-left: 1.5em;
  margin-top: 1em;
  text-decoration: none;
}

.b-footer__phone {
  display: block;
  color: #1B1C21;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1em;
  margin-top: .5em;
  text-decoration: none;
}

.b-footer__lang-container {
  margin-top: 2.5em;
  margin-left: 1.5em;
  margin-bottom: 2em;
}

.b-footer__lang {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.b-footer__lang-container>a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  margin-left: .4375em;
}

.b-footer__lang-container>a:nth-child(1) {
  margin-left: 0;
}

.b-footer__phone:hover,
.b-footer__phone:active,
.b-footer__phone:focus,
.b-footer__mail:hover,
.b-footer__mail:active,
.b-footer__mail:focus,
.b-footer__lang:hover,
.b-footer__lang:active,
.b-footer__lang:focus {
  color: #7E7E82;
}



/*b-footer styles end*/
