///* TT Lakes-regular*/
@font-face {
  font-family: 'TT Lakes';
  font-style: regular;
  font-weight: 400;
  src: local(''),
    url('/src/fonts/TTLakes-Regular.ttf') format('ttf'),
    /*old format*/
    url('/src/fonts/TTLakes-Regular.eot') format('eot'),
    /* IE */
    url('/src/fonts/TTLakes-Regular.woff') format('woff');
  //* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'TT Lakes';
  font-style: medium;
  font-weight: 500;
  src: local(''),
    url('/src/fonts/TTLakes-Medium.ttf') format('ttf'),
    //*old format*/
    url('/src/fonts/TTLakes-Medium.eot') format('eot'),
    //* IE */
    url('/src/fonts/TTLakes-Medium.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'TT Lakes';
  font-style: bold;
  font-weight: 700;
  src: local(''),
    url('/src/fonts/TTLakes-Bold.ttf') format('ttf'),
    /*old format*/
    url('/src/fonts/TTLakes-Bold.eot') format('eot'),
    /* IE */
    url('/src/fonts/TTLakes-Bold.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
