$bg-white: #fff;
$bg-slider-header: #fff;
$bg-slider-card: #fff;
$text-black: #1B1C21;
$text-grey:#7E7E82;
$text-white: #fff;
$button-submit:#FF3E79;
$textarea-text: #B5B6BC;
$p-container-bg-color:#F8F8F8;
$pre-containers-hor-line: #D9FFF5;
$font-size-box: calc(0.5em + lvw);
$font-family: 'TT Lakes';
$main-background: #F2F2F2;
$devider-bg-color: #EAEAEA;
$nav-bar-active-bg: #fff;
$nav-bar-active-bd: #B8FFEC;
$content-bg: #F8F8F8;
